---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="milagrosrobls">
	<main>
		<h1>PAGINA DE MILAGROS</h1>
		<h1>Me llamo milagros y me gustan los gatos</h1>
	</main>
	<ul role="list" class="grid-card">
		<section>
			<Card
				href="https://www.instagram.com/milagrosrobls/"
				title="Mi Instagram"
				body="insta"
			/>
		</section>
	</ul>
</Layout>

<style>
	.background {
		background-color: "/fondo.jpg";
	}
</style>
