---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="milagrosrobls">
	<main>
		<h1>PAGINA DE MILAGROS</h1>
		<h1>Me llamo milagros y esto es un proyecto para el taller de redes</h1>
		<section>
			<ul role="list" class="grid-card">
				<Card
					href="https://www.instagram.com/milagrosrobls/"
					title="Mi Instagram"
					body="insta"
				/>
			</ul>
		</section>
	</main>
</Layout>

<style>
	.background {
		background-color: "fondo.jpg";
	}
</style>
