---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---
<Layout title="sobre mi"> 
<main>
		<h1>Pagina para taller</h1>
		<h1>Proyecto para taller de redes</h1>
		<section>
			<ul role="list" class="grid-card">
        </main>
		</Layout>
	<style>
	.background {
		background-color: "";
	}
</style>
